<body>
    <div class="recipe-area">
        <mat-card class="recipe-card">
            <div class="recipe-photo">
                <img mat-card-image class="recipe-image" [src]="currentRecipe.image">
            </div>
            <mat-card-header id="title">
                <mat-card-title class="mat-card-link">{{currentRecipe.title}}</mat-card-title>
                <mat-card-subtitle>
                    <p>Minutes to Make: {{currentRecipe.readyInMinutes}}</p>
                    <p>Servings Made: {{currentRecipe.servings}}</p>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content id="url">
                <button>
                    <a href = "{{currentRecipe.sourceUrl}}">
                    To Recipe Directions                        
                    </a>

                </button>
                <div *ngFor="let ing of ingredientList">
                    <p>
                        {{ing.name}}
                        <button (click)="addToList(ing.name)">Add to Shopping List</button>
                    </p>
                    
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="recipe-area" *ngFor="let recipe of showSimilarRecipe">
        <mat-card class="recipe-card" [routerLink]='["/recipes", recipe.id]'>
            <div class="recipe-photo">
                <img mat-card-image class="recipe-image" [src]="recipe.image">
            </div>
            <mat-card-header id="title">
                <mat-card-title class="mat-card-link">{{recipe.title}}</mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
            </mat-card-content>
        </mat-card>
    </div>
</body>