.recipe-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    transition: box-shadow 0.3s ease;

}

#title {
    text-align: center;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 10px;
}

/* #url {
    text-align: center;
    justify-content: center;
    background-color: #9FD650;
    border-color: black;
} */

#url {
    text-align: center;
    justify-content: center;
    background-color: #9FD650;
    /* border-color: black; */
    border-top: solid 3px gray;
    border-radius: 5px;
}

/* #button {
    display: block;
    align-items: right;
} */

.recipe-area {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 75px;
    margin-top: 40px;
    text-align: center;
    justify-content: center;
    border: solid 3px gray;
    border-radius: 5px;
}

#description {
    text-align: center;
    justify-content: center;
    background-color: #9FD650;
    /* border-color: black; */
    border-top: solid 3px gray;
    border-radius: 5px;
}

#random-recipe-area {
    justify-content: left;
    display: flex;
    overflow: hidden;
    width: 100%;
    padding-bottom: 5%;
}

.recipe-card {
    margin: 3% 1% 1% 1%;
    max-width: 30%;
    display: flex;
    float: left;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    border-radius: 10px;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;
}

.recipe-card:hover {
      box-shadow: 1px 1px 5px 1px rgb(136, 136, 136);
      cursor: pointer;
      transition: box-shadow 0.3 ease-in-out;
}

.body {
    background-color: #9FD650;
    width: auto;
    height: auto;
    padding-bottom: 10%;
    overflow: hidden;
}
.hero {
    color: white;
    padding: 100px 0;
    background-size: cover;
    background-position: center;
  }
  
  .hero-content {
    margin: 0 auto;
  }
  
  .hero-title {
    color: #333333;
    margin-bottom: 20px;
    font-size: xx-large;
    font-weight: 400;
  }
  
  .hero-subtitle {
    font-size: 18px;
    margin-bottom: 40px;
    color: white;
  }
  
  .hero-search {
    display: block;
    justify-content: center;
    padding-top: 3%;
  }
  
  .hero-search input {
    padding: 10px;
    border-radius: 5px;
    border: solid;
    border-width: 2px;
    border-color: #9FD650;
    width: 50%;
    margin-right: 10px;
  }
  
  .hero-search button[type="submit"] {
    padding: 10px 20px;
    border-radius: 5px;
    border: solid;
    border-color: #9FD650;
    background-color: #9FD650;
    color: white;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
  }
  
  .hero-search button[type="submit"]:hover {
    background-color: #9FD650;
    cursor: pointer;
    box-shadow: 1px 1px 5px 1px rgb(136, 136, 136);
    transition: box-shadow 0.3s ease;
  }

  .first-card {
    width: 70%;
    max-width: 800px;
    min-width: 350px;
    padding-bottom: 2%;
    margin: auto;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    border-radius: 10px;
  }

  .account {
    color: #333333;
  }
  
  .ingredient-name {
    color: #333333;
    text-transform: capitalize;
    font-weight: 400;
    font-size: x-large;
    padding-right: 5%;
    text-align: left;
  }

  .header-text {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 5%;
  }

  .recipe-subtitle {
    font-size: x-large;
  }

  .mat-mdc-card-content {
    display: block;
    padding: 0 5%;
}

.recipe-details-content {
    justify-content: center;
}

hr {
    margin-top: 6%;
    margin-bottom: 6%;
    width: 70%;
  }

  .card-div {
    max-width: 100%;
  }

  .related-recipes {
    margin-top: 5%;
    margin-bottom: 9%;
    background-color: none;
  }

  .mat-card-link {
    font-size: large;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 24ch;
    margin-bottom: 3%;
  }

  .random-recipe-title {
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: xx-large;
    font-weight: 700;
    text-align: center;
    
  }