/* body {
        background: radial-gradient(76.31% 268.58% at 50% 50%, #9FD650 0%, #91CA2C 61.05%, #72A60C 100%);
        mix-blend-mode: normal;
} */

.recipe-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    transition: box-shadow 0.3s ease;

}

#title {
    text-align: center;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 10px;
}

/* #url {
    text-align: center;
    justify-content: center;
    background-color: #9FD650;
    border-color: black;
} */

#url {
    text-align: center;
    justify-content: center;
    background-color: #9FD650;
    /* border-color: black; */
    border-top: solid 3px gray;
    border-radius: 5px;
}

#button {
    display: block;
    align-items: right;
}

.recipe-area {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 75px;
    margin-top: 40px;
    text-align: center;
    justify-content: center;
    border: solid 3px gray;
    border-radius: 5px;
}

#description {
    text-align: center;
    justify-content: center;
    background-color: #9FD650;
    /* border-color: black; */
    border-top: solid 3px gray;
    border-radius: 5px;
}