<body>
    <section class="hero">
    <div class="hero-content">
      <mat-card class="first-card">
        <img mat-card-image class="recipe-image" [src]="currentRecipe.image">
        <mat-card-content class="recipe-details-content">
        <div class="header-text">
            <h1 class="hero-title">{{currentRecipe.title}}</h1>
                <mat-card-subtitle>
                    <span class="recipe-subtitle">Minutes to Make: {{currentRecipe.readyInMinutes}}</span>
                    <br>
                    <span class="recipe-subtitle">Servings Made: {{currentRecipe.servings}}</span>
                    <br>
                        <a href = "{{currentRecipe.sourceUrl}}">
                        Recipe Directions                        
                        </a>
                </mat-card-subtitle>
                <hr>
        

          <div *ngFor="let ing of ingredientList" class="hero-search">
                <span class="ingredient-name">{{ing.name}}</span>
                <button type="submit" (click)="addToList(ing.name)">Add to Shopping List</button> 
        </div>
    </div>
        </mat-card-content>
      </mat-card>
    </div>
  </section>

  <section class="related-recipes">
    <div class="random-recipe-title">
        <span>Related Recipes</span>
    </div>
    <div class="random-recipe-area" *ngFor="let recipe of showSimilarRecipe">
        <mat-card class="recipe-card" [routerLink]='["/recipes", recipe.id]'>
            <div class="recipe-photo">
                <img mat-card-image class="recipe-image" [src]="recipe.image">
            </div>
            <mat-card-header id="title">
                <mat-card-title class="mat-card-link">{{recipe.title}}</mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
  </section>

  <br>

</body>

