<!-- <form (ngSubmit)="signUp()">
    <h1>REGISTER</h1>
    <span>User Name  </span>
    <input placeholder="Enter User Name" type="text" name="username" [(ngModel)]="newUser.username"><br><br>
    <span>Email  </span>
    <input placeholder="Enter Email" type="text" name="email" [(ngModel)]="newUser.email"><br><br>
    <span>Password  </span>
    <input placeholder="Enter Password" type="text" name="password" [(ngModel)]="newUser.password"><br><br>
    
    <button>
      Sign Up
    </button>
</form> -->
<body>
  <section class="hero">
    <div class="hero-content">
      <mat-card class="first-card">
        <mat-card-content>
          <h1 class="hero-title">Register</h1>
            <form #myForm="ngForm" class="hero-search" (ngSubmit)="signUp()">
              <input placeholder="User Name" type="text" name="username" [(ngModel)]="newUser.username"><br><br>

              <input placeholder="Email" type="text" name="email" [(ngModel)]="newUser.email"><br><br>

              <input placeholder="Create Password" type="password" name="password" [(ngModel)]="newUser.password"><br><br>

            <button type="submit">Sign Up</button>

            <p>Already Have an Account, <a href="/sign-in">Sign In</a></p>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </section>
</body>
