body {
    background: radial-gradient(76.31% 268.58% at 50% 50%, #9FD650 0%, #91CA2C 61.05%, #72A60C 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    mix-blend-mode: normal;
}

.hero-title {
  color: #333333;
  margin-bottom: 20px;
  font-size: xx-large;
  font-weight: 400;
}

.hero {
    color: white;
    padding: 100px 0;
    background-size: cover;
    background-position: center;
  }
  
  .hero-content {
    margin: 0 auto;
    text-align: center;
  }
  
  .hero-subtitle {
    font-size: 18px;
    margin-bottom: 40px;
    color: white;
  }
  
  .hero-search {
    display: block;
    justify-content: center;
  }
  
  .hero-search input {
    padding: 10px;
    border-radius: 5px;
    border: solid;
    border-width: 2px;
    border-color: #9FD650;
    width: 50%;
    margin-right: 10px;
  }
  
  .hero-search button[type="submit"] {
    padding: 10px 20px;
    border-radius: 5px;
    border: solid;
    border-color: #9FD650;
    background-color: #9FD650;
    color: white;
    cursor: pointer;
    box-shadow: none;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    transition: box-shadow 0.3s ease;
  }
  
  .hero-search button[type="submit"]:hover {
    background-color: #9FD650;
    cursor: pointer;
    box-shadow: 1px 1px 5px 1px rgb(136, 136, 136);
    transition: box-shadow 0.3s ease;
  }


.example-card:hover {
    box-shadow: 1px 1px 5px 1px rgb(136, 136, 136);
    cursor: pointer;
}

.first-card {
  width: 50%;
  max-width: 600px;
  max-height: 400px;
  min-width: 350px;
  padding-bottom: 5%;
  margin: auto;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.account {
  color: #333333;
}