.toolbar {
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: right;
    color: #9FD650;
}

.logo {
    height: 40px;
    margin-right: 16px;
  }
  
  .spacer {
    flex: 1 1 auto;
  }

  a {
    text-decoration: none;
  }

  .welcome {
    padding-right: 25px;
  }

  .userstyle {
    font-weight: 700;
    color: #9FD650;
  }