<body>
    <section class="hero">
    <div class="hero-content">
      <mat-card class="first-card">
        <mat-card-content>
        <h1 class="hero-title">Login</h1>
        <form #myForm="ngForm" class="hero-search" (ngSubmit)="signin()">
          <input placeholder="Username" type="text" name="username" [(ngModel)]="username"><br><br>
      
          <input placeholder="Password" type="password" name="password" [(ngModel)]="password"><br><br>
      
          <button type="submit">Sign In</button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </section>
</body>