<section class="hero">
    <div class="hero-content">
        <h1 class="hero-title">Find Your Next Favorite Dish</h1>
        <h2 class="hero-subtitle">Your Ultimate Recipe Search Engine</h2>
        <form #myForm="ngForm" class="hero-search" (ngSubmit)="searchRecipe(myForm)">
            <input type="text" placeholder="Search..." id="search" name="search" ngModel>
            <button type="submit">Search</button>
        </form>
    </div>
</section>

<div *ngIf="displaySearch; then searchRecipes else randomRecipes"></div>

<ng-template #searchRecipes>
    <h3>Search Results: </h3>
    <div class="recipe-area">
        <div class="search-results" *ngIf="recipeList">
            <div *ngFor="let recipe of recipeList">
                <mat-card class="recipe-card" [routerLink]='["/recipes", recipe.id]'>
                    <div class="recipe-photo">
                        <img mat-card-image class="recipe-image" [src]="recipe.image">
                    </div>
                    <mat-card-header>
                        <mat-card-title class="mat-card-link">{{recipe.title}}</mat-card-title>
                        <mat-card-subtitle>Subtitle</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #randomRecipes>
    <h3>Random Recipes: </h3>
    <div class="random-recipe-area">
        <div class="card-div" *ngFor="let recipe of randomRecipesList">
            <mat-card class="recipe-card" [routerLink]='["/recipes", recipe.id]'>
                <div class="recipe-photo">
                    <img mat-card-image class="recipe-image" [src]="recipe.image">
                </div>
                <mat-card-header>
                    <mat-card-title class="mat-card-link">{{recipe.title}}</mat-card-title>
                </mat-card-header>
                <mat-card-content [routerLink]='["/recipes", recipe.id]'>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</ng-template>