<form (ngSubmit)="addGrocery()">
    <h1>ADD NEW GROCERY ITEM</h1>
    <span>Item Name  </span>
    <input placeholder="Enter the item name" type="text" [(ngModel)]="newGrocery.title" name="title"><br><br>
   
     <!-- Feature that we could add later? - Blake
    <span>In Your Cart? </span>
    <input placeholder="Enter status" type="text" name="status" [(ngModel)]="addGrocery"><br><br>
    <span>Price </span>
    <input placeholder="Enter price" type="number" name="price" [(ngModel)]="addGrocery"><br><br> -->

<button>
        Add Item
    </button>
</form>