<!-- <form (ngSubmit)="addGrocery()">
    <h1>ADD NEW GROCERY ITEM</h1>
    <span>Item Name  </span>
    <input placeholder="Enter the item name" type="text" name="item" [(ngModel)]="addGrocery.item"><br><br>
    <span>In Your Cart? </span>
    <input placeholder="Enter status" type="text" name="status" [(ngModel)]="addGrocery.inCart"><br><br>
    <span>Price  </span>
    <input placeholder="Enter price" type="number" name="price" [(ngModel)]="addGrocery.price"><br><br> -->

    <!-- <button>
        Add Item
    </button>
</form> -->